[audio]
bgm=sound_effects/music_converted.bcstm
sfx.close=sound_effects/back_converted.bcwav
sfx.cursor=sound_effects/move_converted.bcwav
sfx.folder=sound_effects/move_converted.bcwav
sfx.launch=sound_effects/start_converted.bcwav

[colors]
arrowbuttoncolor.dark=0x020404
arrowbuttoncolor.light=0x020404
arrowbuttoncolor.main=0x020404
arrowbuttoncolor.shadow=0x000000ff
arrowcolor.border=0x020404
arrowcolor.pressed=0xf6b60f
arrowcolor.unpressed=0xd7d8dd
bottomcornerbuttoncolor.dark=0xd7d8dd
bottomcornerbuttoncolor.iconlight=0xd7d8dd
bottomcornerbuttoncolor.iconmain=0xd7d8dd
bottomcornerbuttoncolor.icontextmain=0x000000
bottomcornerbuttoncolor.light=0x020404
bottomcornerbuttoncolor.main=0x020404
bottomcornerbuttoncolor.shadow=0x000000
close.dark=0x020404
close.glow=0x000000
close.light=0x020404
close.main=0x020404
close.shadow=0x000000ff
close.textmain=0xd7d8dd
close.textselected=0xf6b60f
close.textshadow=0xd7d8dd
close.textshadowpos=0
cursorcolor.dark=0xc28700
cursorcolor.glow=0xf6b60f
cursorcolor.light=0xc28700
cursorcolor.main=0xf6b60f
demotextcolor.main=0x020404
demotextcolor.textmain=0xd7d8dd
filecolor.dark=0x42423f
filecolor.light=0xc4c4bf
filecolor.main=0x767673
filecolor.shadow=0x2a2a2aff
folderarrowcolor.dark=0x020404
folderarrowcolor.glow=0x000000
folderarrowcolor.light=0x020404
folderarrowcolor.main=0x020404
folderarrowcolor.shadow=0x000000ff
folderarrowcolor.textmain=0xd7d8dd
folderarrowcolor.textselected=0xf6b60f
folderarrowcolor.textshadow=0xd7d8dd
folderarrowcolor.textshadowpos=0
folderbgcolor.dark=0xffffff
folderbgcolor.light=0x383838
folderbgcolor.main=0x020404
folderbgcolor.shadow=0x020404ff
foldercolor.dark=0x1e222d
foldercolor.light=0x94a5b9
foldercolor.main=0x333647
foldercolor.shadow=0x000000
gametext.light=0x000000
gametext.main=0x020404
gametext.shadow=0x000000ff
gametext.textmain=0xd7d8dd
open.dark=0x020404
open.glow=0x000000
open.light=0x020404
open.main=0x020404
open.shadow=0x000000ff
open.textmain=0xd7d8dd
open.textselected=0xf6b60f
open.textshadow=0xd7d8dd
open.textshadowpos=0
topcornerbuttoncolor.light=0x000000
topcornerbuttoncolor.main=0x020404
topcornerbuttoncolor.shadow=0x020404
topcornerbuttoncolor.textmain=0xd7d8dd

[frames]
bottom.frame=single
bottom.type=texture
top.frame=single
top.type=texture

[info]
cero=32
icon=theme_icons/icon_large.png
longtitle=Star Wars Battlefront II (from 2017 version)
publisher=TheRake66
shorttitle=Star Wars Battlefront II
smallicon=theme_icons/icon_small.png

[kame-editor]
deploy=../Star Wars Battlefront II.zip

[textures]
bottom.image=texture_assets/screen_bottom.png
filelarge.image=texture_assets/tile_large.png
filesmall.image=texture_assets/tile_small.png
folderclose.image=texture_assets/folder_closed.png
folderopen.image=texture_assets/folder_opened.png
top.image=texture_assets/screen_top.png
